<div style="width:90px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="Valeur du #valueDate#, collectée le #collectDate#">
    <center>
        <span style="font-weight: bold;font-size : 12px;" class='cmdName'>#name_display#</span>
        <span style="margin-top: 10px;" class="spanCmd#uid#">
        	<i style="font-size: 2.5em;font-weight: bold;margin-top: 5px;" class="backIconCmd#uid#"></i>
        	<i style="font-size: 2.5em;font-weight: bold;margin-top: 5px;" class="frontIconCmd#uid#"></i>
        </span>
    </center>

    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('.spanCmd#uid#').addClass('fa-stack fa-1x');
            //$('.cmd[data-cmd_id=#uid#]').attr('title', 'OK  -  #collectDate#');
            $('.backIconCmd#uid#').addClass('fa fa-rss fa-stack-1x')
        }
        if ('#state#' == '0' || '#state#' == 0) {
            $('.spanCmd#uid#').addClass('fa-stack fa-1x');
            $('.backIconCmd#uid#').addClass('fa fa-rss fa-stack-1x');
            $('.frontIconCmd#uid#').addClass('fa fa-exclamation fa-stack-1x text-danger');
            $('.cmd[data-cmd_id=#uid#]').attr('title', 'Erreur liaison  -  #collectDate#');
        }
    </script>
</div>