<div style="width:62px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="#collectDate#">
  <center>
    <span style="font-weight: 400;font-size : 12px;" class='cmdName'>#name#<br/></span>
    <span class="spanCmd#id#">
      <i style="font-size: 1.5em;font-weight: bold;margin-top: 5px;" class="backIconCmd#id#"></i>
      <i style="font-size: 1.5em;font-weight: bold;margin-top: 5px;" class="frontIconCmd#id#"></i>
    </span>
  </center>

  <script>
    if ('#state#' == '1' || '#state#' == 1) {
      $('.spanCmd#id#').addClass('fa-stack fa-1x');
      $('.cmd[data-cmd_id=#id#]').attr('title', 'OK  -  #collectDate#');
      $('.backIconCmd#id#').addClass('fas fa-rss fa-stack-1x')
    }
    if ('#state#' == '0' || '#state#' == 0) {
      $('.spanCmd#id#').addClass('fa-stack fa-1x');
      $('.backIconCmd#id#').addClass('fas fa-rss fa-stack-1x');
      $('.frontIconCmd#id#').addClass('fas fa-exclamation fa-stack-1x text-danger');
      $('.cmd[data-cmd_id=#id#]').attr('title', 'Erreur liaison  -  #collectDate#');
    }
  </script>
</div>
