<div class="cmd cmd-widget #history#" data-type="info" data-subtype="binary" data-template="custom" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content-sm">
    <span class="iconCmd fa-stack fa-2x"></span>
  </div>
  <template></template>
  <script>
    jeedom.cmd.update['#id#'] =function(_options) {
      var cmd = $('.cmd[data-cmd_id=#id#]')

      if (_options.display_value == 'ok') {
        cmd.find('.iconCmd').empty().append("<i style='font-size:2em' class='fas fa-home fa-stack-1x'></i><i class='fas fa-check fa-stack-1x text-success'></i>")
        cmd.attr('title', 'Pas d\'alarme - '+_options.collectDate)
      }
      else if (_options.display_value == 'nok_int') {
        cmd.find('.iconCmd').empty().append("<i style='font-size:2em' class='fas fa-home fa-2x fa-stack-2x'></i><i style='font-size:2em' class='fas jeedom-mouvement fa-2x fa-stack-2x text-danger'></i>")
        cmd.attr('title', 'Alarme intrusion - '+_options.collectDate)
      }
      else if (_options.display_value == 'nok_dom') {
        cmd.find('.iconCmd').empty().append("<i style='font-size:2em' class='fas fa-home fa-2x fa-stack-2x'></i><i style='color: #1b7ae4' class='fas nature-drops1 fa-1x fa-stack-1x'></i><i style='color: #ff8b00;margin-top:7px' class='fas fa-fire fa-stack-1x'></i>")
        cmd.attr('title', 'Alarme domestique - '+_options.collectDate)
      }
      else {
        cmd.find('.iconCmd').empty().append("<i class='fas fa-question'>");
        cmd.attr('title', _options.display_value +' - ' +_options.collectDate)
      }
    }
    jeedom.cmd.update['#id#']({display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#'})
  </script>
</div>
