<div style="width:62px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="#collectDate#">
  <center>
    <span style="font-size : 12px;" class='cmdName'>#name#<br/></span>
    <span class="spanCmd#id#">
      <i style="margin-top: 5px;" class="backIconCmd#id#"></i>
      <i style="font-size: 2em;margin-top: 5px;" class="frontIconCmd#id#"></i>
    </span>
  </center>

  <script>
    if ('#state#' == '1' || '#state#' == 1) {
      $('.cmd[data-cmd_id=#id#]').attr('title', 'OK  -  #collectDate#');
      $('.backIconCmd#id#').addClass('fas fa-camera fa-stack-2x'); 
    }
    if ('#state#' == '0' || '#state#' == 0) {
      $('.spanCmd#id#').addClass('fa-stack fa-1x');
      $('.backIconCmd#id#').addClass('fas fa-camera fa-stack-1x');
      $('.frontIconCmd#id#').addClass('fas fa-ban fa-stack-2x text-danger');
      $('.cmd[data-cmd_id=#id#]').attr('title', 'Camera absente  -  #collectDate#');
    }
  </script>
</div>
