<div style="width:90px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="#valueDate#">
  <center>
    <span style="font-weight: 400;font-size : 12px;" class='cmdName'>#name#<br/></span>
    <span style="font-size: 3em;font-weight: bold;margin-top: 5px;" class="iconCmd#id#"></span>
  </center>

  <script>
    if ('#state#' == '1' || '#state#' == 1) {
      $('.iconCmd#id#').addClass('fas fa-lock')
      $('.cmd[data-cmd_id=#id#]').attr('title', 'Activée  -  #collectDate#');
    }
    if ('#state#' == '0' || '#state#' == 0) {
      $('.iconCmd#id#').addClass('fas fa-unlock')
      $('.cmd[data-cmd_id=#id#]').attr('title', 'Désactivée  -  #collectDate#');
    }
  </script>
</div>
