<div style="width:90px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="Valeur du #valueDate#, collectée le #collectDate#">
  <center>
    <span style="font-weight: 400;font-size : 12px;" class='cmdName'>#name_display#</span>
    <span style="font-size: 3em;font-weight: bold;margin-top: 5px;" class="iconCmd#uid#"></span>
  </center>

  <script>
    if ('#state#' == '1' || '#state#' == 1) {
      $('.iconCmd#uid#').addClass('fas fa-check');
    }
    if ('#state#' == '0' || '#state#' == 0) {
      $('.iconCmd#uid#').addClass('fas jeedom-mouvement text-danger');
    }
  </script>
</div>
