<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <center class="widget-name">
    <a href="#eqLink#" style="font-size : 1.5em;">#name#</a>
  </center>
  <div class="verticalAlign">
    <center>
      <span>
        #link#
        #door#
        #tampered#
        #camera#
        #gsm_signal#
        #battery_status#
        #gsm_link#
        #gsm_operator#
        <hr style="margin-bottom:8px;border: 0;height: 1px;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));">
        #alarm#
        #zone_a#
        #zone_b#
        #zone_c#
        #zoneabc_on#
        #zoneabc_off#
        <br>
        #zonea_on#
        #zoneb_on#
        #zonec_on#
  <hr style="margin-bottom:8px;border: 0;height: 1px;background-image:-webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));}">
        #reset_alarm_err#
        #reset_battery_err#
        #reset_link_err#
      </span>
    </center>
  </div>

  <script>
    if ('#noResize#' == 1) {
      $('.eqLogic[data-eqLogic_id=#id#]').addClass('noResize');
    }
  </script>
</div>
