<div style="display: inline-block;font-size: 0.8em;vertical-align:middle;width:77px;line-height:normal;text-align:center;" class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="#collectDate#">
	<span style="font-weight: bold;font-size : 12px;" class='cmdName'>#name#<br/></span>
	<span style="font-size: 1.7em;margin-top: 5px;display: inline-block;width:47px;line-height:normal;" class="fa-1x">
		<i class="iconCmd#id#"></i>
	</span>

    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('.iconCmd#id#').addClass('fa fa-lock fa-2x');
            $('.cmd[data-cmd_id=#id#]').attr('title', 'Activée  -  #collectDate#');
        }
        if ('#state#' == '0' || '#state#' == 0) {
            $('.iconCmd#id#').addClass('fa fa-unlock fa-2x');
            $('.cmd[data-cmd_id=#id#]').attr('title', 'Désactivée  -  #collectDate#');
        }
    </script>
</div>
