<div style="width:40px;display: inline-block;font-size: 0.8em;margin-right : 4px;vertical-align:middle;line-height:normal;text-align:center;" class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span style="width:40px;text-align:center;" class="spanCmd#id#">
                <i class="backIconCmd#id#"></i>
                <i class="frontIconCmd#id#"></i>
        </span>
    </center>

    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('.cmd[data-cmd_id=#id#]').attr('title', 'OK  -  #collectDate#');
            $('.frontIconCmd#id#').addClass('fa fa-rss fa-1x');
            $('.frontIconCmd#id#').css({ "font-size" : "1.6em" });
        }
        if ('#state#' == '0' || '#state#' == 0) {
            $('.spanCmd#id#').addClass('fa-stack');
            $('.spanCmd#id#').css({ "font-size" : "1.6em" });
            $('.backIconCmd#id#').addClass('fa fa-rss fa-stack-1x');
            $('.frontIconCmd#id#').addClass('fa fa-exclamation fa-stack-1x');
            $('.frontIconCmd#id#').css({ "color": "#a94444" });
            $('.cmd[data-cmd_id=#id#]').attr('title', 'Erreur liaison  -  #collectDate#');
        }
    </script>
</div>