<div style="display: inline-block;font-size: 0.8em;vertical-align:middle;width:77px;line-height:normal;text-align:center;"  class='cmd' data-type="info" data-subtype="string" data-cmd_id="#id#" title="#collectDate#">
	<span style="font-weight: bold;font-size : 12px;" class='cmdName'>#name#<br/></span>
	<span style="font-size: 1.7em;margin-top: 5px;" class="fa-stack fa-1x">
		<i class="iconCmd#id#"></i>
		<i class="icon2Cmd#id#"></i>
		<i class="icon3Cmd#id#"></i>
	</span>

    <script>
        if ('#state#' == 'ok') {
            $('.iconCmd#id#').addClass('fa fa-home fa-2x fa-stack-1x');
            $('.icon2Cmd#id#').addClass('fa fa-check fa-1x fa-stack-1x pull-right');
            $('.icon2Cmd#id#').css({ "color": "#3c763d" });
            $('.cmd[data-cmd_id=#id#]').attr('title', 'Pas d\'alarme  -  #collectDate#');
        }
        if ('#state#' == 'nok_int') {
            $('.iconCmd#id#').addClass('fa fa-home fa-2x fa-stack-1x');
            $('.icon2Cmd#id#').addClass('fa icon jeedom-mouvement fa-2x fa-stack-2x');
            $('.icon2Cmd#id#').css({ "color": "#a94444" });
            $('.cmd[data-cmd_id=#id#]').attr('title', 'Alarme Intrusion  -  #collectDate#');
        }
        if ('#state#' == 'nok_dom') {
            $('.iconCmd#id#').addClass('fa fa-home fa-2x fa-stack-1x');
            $('.icon2Cmd#id#').addClass('fa fa-fire fa-stack-1x pull-right');
            $('.icon2Cmd#id#').css({ "color": "#ff8000" });
            $('.icon3Cmd#id#').addClass('fa nature-drops1 fa-stack-1x');
            $('.icon3Cmd#id#').css({ "color": "#1b7ae4" });
            $('.cmd[data-cmd_id=#id#]').attr('title', 'Alarme domestique  -  #collectDate#');
        }
    </script>
</div>
